<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>CodeLoaders</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="8e97bc">  <td>18/01/22 21:35:58</td>   <td>0</td> <td title="&gt;&gt;PreTestSetupCodeLoaders.PreTestSetUp()[pri:0, instance:com.codeloaders.Test.PreTestSetupCodeLoaders@5cee5251]">&gt;&gt;PreTestSetUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@283383329</td>   <td></td> </tr>
<tr bgcolor="f88290">  <td>18/01/22 21:35:59</td>   <td>1638</td> <td title="&lt;&lt;PostTest.closeCodeLoaders()[pri:0, instance:com.codeloaders.Test.PostTest@65466a6a]">&lt;&lt;closeCodeLoaders</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@283383329</td>   <td></td> </tr>
</table>
