<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>com.codeloaders.Test.ANESTHESIA</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>codeLoaders_04_verifyUpdate_05</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>codeLoaders_04_verifyUpdate_07</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>codeLoaders_03_verifyCreate_02</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>codeLoaders_03_verifyCreate_01</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>codeLoaders_06_verifyUpdate_06</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>codeLoaders_04_verifyUpdate_04</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>codeLoaders_03_verifyCreate_03</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>statements</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>endStatements</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
</table>
