<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>LaunchCodeLoders</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="c26598">  <td>18/01/17 11:11:57</td>   <td>0</td> <td title="&lt;&lt;LaunchCodeLoaders.closeCodeLoaders()[pri:0, instance:com.codeloaders.Test.LaunchCodeLoaders@59494225]">&lt;&lt;closeCodeLoaders</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1843368112</td>   <td></td> </tr>
<tr bgcolor="c26598">  <td>18/01/17 11:11:57</td>   <td>-68</td> <td title="&gt;&gt;LaunchCodeLoaders.launchCodeLoaders()[pri:0, instance:com.codeloaders.Test.LaunchCodeLoaders@59494225]">&gt;&gt;launchCodeLoaders</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1843368112</td>   <td></td> </tr>
</table>
