<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="8e97bc">  <td>18/01/29 19:34:23</td>   <td>0</td> <td title="&gt;&gt;CodeLoaders.PreTestSetUp()[pri:0, instance:com.codeloaders.Test.CodeLoaders@60d8c9b7]">&gt;&gt;PreTestSetUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1850180796</td>   <td></td> </tr>
</table>
